@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

html    {
    font-size: calc(100vw / 1240 * 10);
    @media (max-width: 1024px) {
        font-size: calc(100vw / 1168 * 10);
    }
    @media (max-width: 767px) {
        font-size: calc(100vw / 968 * 10);
    }
    @media (max-width: 500px) {
        font-size: calc(100vw / 425 * 10);
    }
}
body {
    margin: 0;
    -webkit-overflow-scrolling: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
p   {
    margin: 0;
}
